body{
    margin: 0;
    padding: 0;
    background: url(back.jpg);
    background-position: top;
    background-size: cover;
    background-repeat:repeat-y;
    font-family: sans-serif;
}
.registerbox{
    width: 33%;
    height: 127%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    top: 10%;
    left: 35%;
    border-radius: 30px;
    position: absolute;
    box-sizing: border-box;
}
.registerbox h1{ text-align: center;}
.registerbox p{

    font-weight: bold;
    margin: 0px 20px;
}

.registerbox select,input[type="text"], input[type="password"],input[type="number"],input[type="email"],input[type="date"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.registerbox input[type="submit"]
{
    border: none;
    outline: none;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.registerbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #07ff45;
    color: #000;
}
.registerbox a{
    text-decoration: none;  
  line-height: 20px;
  color: blue;
}
.registerbox a:hover
{
    color: green;
}